[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

flask = "*"
kin = {git = "https://github.com/kinfoundation/kin-core-python.git"}


[dev-packages]



[requires]

python_version = "3.5"
